<!DOCTYPE html>
<head>
    <title>Confirm Delete</title>
</head>
{% extends 'user/user_index.html' %}
{% load static %}
{% block content %}
<!-- /navbar -->
<div class="wrapper">
    <div class="container">
        <div class="row">
            <!--/.span12-->
            <div class="span12">
                <div class="content">
                    <h3 class="mt-3">View Timesheets</h3>
                    <div class="module">
                        <div class="module-head">
                            <h3>Timesheets</h3>
                        </div>
                        <div class="module-body">
                            
                        </div>
                    </div>
                    <a href="{% url 'timesheetadd' %}" class="btn btn-info">New Timesheet</a>
                    <!--/.content-->
                </div>
                <!--/.span9-->
            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.wrapper-->
    <!-- <div class="modal-container" id="modal_container">
        <div class="modal">
            <h2 class="mt-3">Confirm delete?</h2>
            <div></div>
            <button id="delete" class="btn btn-danger"><i class="icon-c"></i>Delete</button>
            <button id="cancel" class="btn btn-secondary">Cancel</button>
        </div>
    </div>
    <script>
            const open = document.getElementById("open");
            const modal_container = document.getElementById("modal_container");
            const ok = document.getElementById("delete");
            const cancel = document.getElementById("cancel");
            open.addEventListener("click", () => {
                modal_container.classList.add("show");
            });
            cancel.addEventListener("click", () => {
                modal_container.classList.remove("show");
            });
    </script> -->
    {% endblock %}