<!DOCTYPE html>
{% extends 'reporting/index.html' %}
{% load static %}
{% block content %}
<div class="container-fluid px-4">
    <h3 class="mt-3">View Batches</h3>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'admindash' %}">Dashboard</a></li>
        <li class="breadcrumb-item active">View Batches</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-award"></i>
            Batches
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Batch Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for batch in batches %}
                    <tr>
                        <td>{{ batch.course }}</td>
                        <td>{{ batch.batch_name }}</td>
                        <td><a href="{% url 'batchedit' batch.id %}" class="btn btn-outline-primary"><i class="fas fa-pen"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="{% url 'batchadd' %}" class="btn btn-success">Add New Batch</a><br><br>
</div>
{% endblock %}