<!DOCTYPE html>
{% extends 'reporting/index.html' %}
{% load static %}
{% block content %}
<div class="container-fluid px-4">
    <h3 class="mt-3">View Users</h3>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'admindash' %}">Dashboard</a></li>
        <li class="breadcrumb-item active">View Users</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-user-friends"></i>
            Users
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Email Address</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            <a href="{% url 'useredit' user.id %}" class="btn btn-outline-primary"><i class="fas fa-user-edit"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="{% url 'useradd' %}" class="btn btn-success">Add New User</a><br><br>
</div>
{% endblock %}