<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-12"><br>
                <h2 class="display-5">Available Books</h2><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Book Name</th>
                            <th class="text-center">Author</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Copies</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for book in books %}
                        <tr>
                            <td class="text-center">{{ book.book_name }}</td>
                            <td class="text-center">{{ book.author }}</td>
                            <td class="text-center">{{ book.price }}</td>
                            <td class="text-center">{{ book.copies }}</td>
                            <td class="text-center"><a href="{% url 'viewbook' book.id %}" class="btn btn-success">View</a>
                            <a href="{% url 'changebook' book.id %}" class="btn btn-primary">Update</a>
                            <a href="{% url 'removebook' book.id %}" class="btn btn-danger">Remove</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-3"><br>
                <form method="POST">{% csrf_token %}
                      <div class="input-group mb-3">
                            <input type="text" name="book_name" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-search fa-sm"></i></button>
                        </div>
                      </div>
                      
                </form>
            </div>
            </div>
        </div>
    </div>
    {% endblock %}