<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Book</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bookadd/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4"><img src="{% static 'bookadd/images/bookimg.jpg' %}" alt="" width="760" height="748"></div>
            <div class="col-4"></div>
            <div class="col-4"><br><br><br>
                <h4 class="display-4">Update Book</h4><br>
                <form action="{% url 'changebook' book.id %}" method="POST">{% csrf_token %} <!-- CSRF - Cross-Sight Request Forgery -->
                    <div class="mb-3">
                        <label for="book_name">Book Name</label>
                        <input type="text" name="book_name" class="form-control" value="{{ book.book_name }}">
                    </div>
                    <div class="mb-3">
                        <label for="author">Author</label>
                        <input type="text" name="author" class="form-control" value="{{ book.author }}">
                    </div>
                    <div class="mb-3">
                        <label for="price">Price</label>
                        <input type="number" name="price" class="form-control" value="{{ book.price }}">
                    </div>
                    <div class="mb-3">
                        <label for="copies">Copies</label>
                        <input type="number" name="copies" class="form-control" value="{{ book.copies }}">
                    </div><br>
                    <div class="mb-3">
                        <button type="submit"  class="btn btn-success">Update Book</button>
                        <button type="reset"  class="btn btn-primary">Reset</button>
                    </div>
                </form></div>
        </div>
    </div>
</body>
</html>