<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bookadd/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-5"><br>
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'bookadd/images/bookdetailsimg.jpg' %}" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">{{ book.book_name }}</h5>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Author: {{ book.author }}</li>
                      <li class="list-group-item">Price: {{ book.price }}</li>
                      <li class="list-group-item">Copies: {{ book.copies }}</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="btn btn-warning">Buy Now</a>
                    </div>
                  </div>
            </div>
            <div class="col-5"></div>
        </div>
    </div>
</body>
</html>