<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'signup/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><br>
                <h4 class="display-4">Sign In</h4>
                <form id="myForm" method="POST">{%csrf_token%}
                    <div class="mb-3"><br>
                        {{ form.as_p }}
                        <button type="submit" id="signup" onclick="getId(this)" class="btn-grad">Sign In</button>
                    </div>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body>
</html>

<!-- <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="{% static 'signin/css/style.css' %}">
</head>
<body>
    <header>
        <h2>Sign in</h2>
    </header>
    <main>
        <div class="signin">
                <label for="">Username</label>
                <input type="text" name="uname" id="uname">
                <label for="">Password</label>&emsp;<a href="https://github.com/password_reset" id="forgot" style="text-align: right;">Forgot Password?</a>
                <input type="password" name="pass" id="pass">
                <button type="submit" id="log">Sign in</button>
        </div>
        <div class='create'>
            <label for="">New?</label>&nbsp;<a href="https://github.com/signup?source=login" id="cre">Create an account.</a>
        </div>
    </main>
    <footer>
        <div class="footer">
            
        </div>
    </footer>
</body>
</html> -->