<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><br>
                <a href="{% url 'addnum' %}" class="btn btn-info">Calculator</a><br><br>
                <a href="{% url 'dforms' %}" class="btn btn-info">Django Forms</a>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body>
</html>